*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
}

ul, li, a{
    text-decoration: none;
    list-style: none;
}

img{
    max-width: 100%;
}

.d-flex{
    display: flex;
    align-items: center;
}

.container{
    max-width: 1250px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.serif{
    font-family: 'Libre Baskerville', serif;
}
.upper{
    text-transform: uppercase;
}
.visible{
    display: inline-block!important;
}
.show{
    display: block;
}